{% extends 'base.html' %}
{% block title %}student_form{% endblock %}

{% block body %}

<h1>student_form</h1>
<div>
    <form method="POST" action="/std_form/">
		{% csrf_token %}
        <table>
            {{ form }}
        </table>
		
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
	<p class="text-center">If you already have an account,
         <a href="/logout">logout</a> instead.</p>
     <p class="text-center">If you already have an account,
            <a href="/show">show</a> instead.</p>
</div>

 {% endblock %}

   